version: '3.9'
services:
  shim:
    hostname: bcms-plugin-shim
    container_name: bcms-plugin-shim
    image: 'becomes/cms-shim-local:1.0.5'
    ports:
      - 1279:1279
  backend:
    hostname: bcms-plugin-backend
    container_name: bcms-plugin-backend
    image: 'becomes/cms-backend-local:1.1.1'
    volumes:
      - type: bind
        source: ./bcms.config.js
        target: /app/bcms.config.js
      - type: bind
        source: ./shim.json
        target: /app/shim.json
      - type: bind
        source: ./backend
        target: /app/plugins/bcms-plugin---name/backend
      - type: bind
        source: ./ui/node_modules/@becomes/cms-ui/public
        target: /app/public
      - type: bind
        source: ./db
        target: /app/db
      - type: bind
        source: ./uploads
        target: /app/uploads
      - type: bind
        source: ./storage
        target: /app/storage
      - type: bind
        source: ./backend-logs
        target: /app/backend-logs
  plugin:
    hostname: bcms-plugin-ui
    container_name: bcms-plugin-ui
    build: .
    volumes:
      - type: bind
        source: ./ui/public
        target: /app/public
      - type: bind
        source: ./ui/src
        target: /app/src
      - type: bind
        source: ./ui/tailwind.config.cjs
        target: /app/tailwind.config.cjs
      - type: bind
        source: ./ui/vite.config.ts
        target: /app/vite.config.ts
  proxy:
    depends_on:
      - shim
      - backend
      - plugin
    build: 'proxy/.'
    ports:
      - '8080:8080'
