.layout {
  &--2col {
    display: flex;
  }
  &--sideNav {
    width: 250px;
    background-color: rgba(var(--grey), 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &--content {
    margin-left: 50px;
  }
}
